.container {
    text-align: center;
    padding: 50px;
    margin: auto;
    max-width: 1440px;
    height: 85vh;
    max-height: 1024px ;
    background-image: url('../images/background.webp');
    background-size: cover;
    background-position: center;
}

#timer {
    font-size: 48px;
    margin: 20px 0;
}

/* button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
} */

button{
  padding: 10px 20px;
  margin: 0 10px;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  background-color: floralwhite;
  font-size: 16px;
  cursor: pointer;
  outline: 0;
  transition: background-color 0.5s ease;
}

button:hover {
  background-color: #95D9D9;
}

button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
